<section class="u-align-center u-invert u-nav-offset">
    <form>
        <label class="h5">Hero main image URL:
            <input id="heroImg" name="heroImg" type="text">
        </label>
        <input class="button m-lg" type="submit" value="Save">
    </form>
</section>
<section class="hero-detail section-divider m-top-only u-full-width-container">
    <div class="u-max-width-container pad-0 pad-30@lg-min pad-only-sides">
        <div class="row hero-detail-tabs">
            <div id="tabs" class="column sm-12">
                <ul id="details-tabs" role="tablist" class="tabs">
                    <li role="presentation" class="tabs-title is-active" style="width: 33.3%">
                        <a href="edit-hero-details-overview.html" aria-selected="true"
                           class="u-uppercase" role="tab"
                           aria-controls="overview">Overview</a>
                    </li>
                    <li role="presentation" class="tabs-title" style="width: 33.3%">
                        <a href="edit-hero-details-story.html"
                           class="u-uppercase"
                           role="tab" aria-controls="story" aria-selected="false">Story</a>
                    </li>
                    <li role="presentation" class="tabs-title" style="width: 33.3%">
                        <a href="edit-hero-details-tips.html"
                           class="u-uppercase"
                           role="tab" aria-controls="story" aria-selected="false">Tips</a>
                    </li>
                </ul>
                <div data-tabs-content="details-tabs" class="tabs-content">
                    <section id="overview" class="tabs-panel is-active" role="tabpanel" aria-hidden="false"
                             aria-labelledby="overview-label">
                        <div class="hero-detail-wrapper">
                            <form>
                                <div class="row">
                                    <div class="column sm-12 md-6 hero-detail-role">
                                        <label class="h5">Role:
                                            <input id="heroRole" name="heroRole" type="text">
                                        </label>
                                    </div>
                                    <div class="column sm-12 md-6">
                                        <label class="h5">Difficulty:
                                            <input id="difficulty" name="difficulty" type="text">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column sm-12 md-6">
                                        <label class="h5">Brief description:
                                            <textarea id="briefDescr" name="briefDescr"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="u-align-center">
                                        <input class="button m-lg" type="submit" value="Save">
                                </div>
                            </form>
                        </div>
                        <hr class="tab-separator">
                        <div class="hero-detail-wrapper m-same-pad"><h3 class="h4 hero-detail-title">Abilities</h3>
                            <div class="hero-detail-abilities"></div>
                            <form>
                                <div class="row">
                                    <div class="column sm-12 md-6 hero-detail-role">
                                        <label class="h5">First ability img url:
                                            <input id="firstAbilityImg" name="firstAbilityImg" type="text">
                                        </label>
                                    </div>
                                    <div class="column sm-12 md-6">
                                        <label class="h5">First ability:
                                            <textarea id="firstAbility" name="firstAbility"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column sm-12 md-6 hero-detail-role">
                                        <label class="h5">Second ability img url:
                                            <input id="secondAbilityImg" name="secondAbilityImg" type="text">
                                        </label>
                                    </div>
                                    <div class="column sm-12 md-6">
                                        <label class="h5">Second ability:
                                            <textarea id="secondAbility" name="secondAbility"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column sm-12 md-6 hero-detail-role">
                                        <label class="h5">Third ability img url:
                                            <input id="thirdAbilityImg" name="thirdAbilityImg" type="text">
                                        </label>
                                    </div>
                                    <div class="column sm-12 md-6">
                                        <label class="h5">Third ability:
                                            <textarea id="thirdAbility" name="thirdAbility"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column sm-12 md-6 hero-detail-role">
                                        <label class="h5">Ultimate ability img url:
                                            <input id="ultimateAbilityImg" name="ultimateAbilityImg" type="text">
                                        </label>
                                    </div>
                                    <div class="column sm-12 md-6">
                                        <label class="h5">Ultimate ability:
                                            <textarea id="tultimateAbility" name="ultimateAbility"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="u-align-center">
                                    <input class="button m-lg" type="submit" value="Save">
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>