<section id="selected-heroes" class="u-full-width-container u-nav-offset">
    <nav class="hero-select-navigation column row u-max-width-container"><h2 class="nav-title">Select a Hero</h2>
        <div class="hero-type-container">
            <h3 class="h4 hero-select-title">
                <span class="heading-line"></span>
                <span class="text">Offense</span>
                <span class="heading-line"></span>
            </h3>
            <ul class="js-hero-portrait-group u-align-center">
                <li class="hero-item"><a href="/en-us/heroes/doomfist/" data-hero-id="doomfist"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/doomfist/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Doomfist</span></a></li>
                <li class="hero-item"><a routerLink="/hero/details/Genji" data-hero-id="genji"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/genji/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Genji</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/mccree/" data-hero-id="mccree"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/mccree/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">McCree</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/pharah/" data-hero-id="pharah"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/pharah/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Pharah</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/reaper/" data-hero-id="reaper"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/reaper/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Reaper</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/soldier-76/" data-hero-id="soldier-76"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/soldier-76/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Soldier: 76</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/sombra/" data-hero-id="sombra"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/sombra/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Sombra</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/tracer/" data-hero-id="tracer"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/tracer/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Tracer</span></a></li>
            </ul>
        </div>
        <div class="hero-type-container"><h3 class="h4 hero-select-title"><span class="heading-line"></span><span
                class="text">Defense</span><span class="heading-line"></span></h3>
            <ul class="js-hero-portrait-group u-align-center">
                <li class="hero-item"><a href="/en-us/heroes/bastion/" data-hero-id="bastion"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/bastion/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Bastion</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/hanzo/" data-hero-id="hanzo"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/hanzo/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Hanzo</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/junkrat/" data-hero-id="junkrat"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/junkrat/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Junkrat</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/mei/" data-hero-id="mei"
                                         data-analytics="hero-selection"
                                         data-analytics-placement="Hero Page" class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/mei/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Mei</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/torbjorn/" data-hero-id="torbjorn"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/torbjorn/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Torbjörn</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/widowmaker/" data-hero-id="widowmaker"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/widowmaker/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Widowmaker</span></a></li>
            </ul>
        </div>
        <div class="hero-type-container"><h3 class="h4 hero-select-title"><span class="heading-line"></span><span
                class="text">Tank</span><span class="heading-line"></span></h3>
            <ul class="js-hero-portrait-group u-align-center">
                <li class="hero-item"><a href="/en-us/heroes/dva/" data-hero-id="dva"
                                         data-analytics="hero-selection"
                                         data-analytics-placement="Hero Page" class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/dva/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">D.Va</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/orisa/" data-hero-id="orisa"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/orisa/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Orisa</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/reinhardt/" data-hero-id="reinhardt"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/reinhardt/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Reinhardt</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/roadhog/" data-hero-id="roadhog"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/roadhog/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Roadhog</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/winston/" data-hero-id="winston"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/winston/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Winston</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/zarya/" data-hero-id="zarya"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/zarya/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Zarya</span></a></li>
            </ul>
        </div>
        <div class="hero-type-container"><h3 class="h4 hero-select-title"><span class="heading-line"></span><span
                class="text">Support</span><span class="heading-line"></span></h3>
            <ul class="js-hero-portrait-group u-align-center">
                <li class="hero-item"><a href="/en-us/heroes/ana/" data-hero-id="ana"
                                         data-analytics="hero-selection"
                                         data-analytics-placement="Hero Page" class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/ana/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Ana</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/lucio/" data-hero-id="lucio"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/lucio/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Lúcio</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/mercy/" data-hero-id="mercy"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/mercy/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Mercy</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/moira/" data-hero-id="moira"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/moira/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Moira</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/symmetra/" data-hero-id="symmetra"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/symmetra/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Symmetra</span></a></li>
                <li class="hero-item"><a href="/en-us/heroes/zenyatta/" data-hero-id="zenyatta"
                                         data-analytics="hero-selection" data-analytics-placement="Hero Page"
                                         class="hero-portrait">
                    <div class="hero-portrait-image-mask">
                        <div style="background-image:url(&quot;https://d1u1mce87gyfbn.cloudfront.net/hero/zenyatta/icon-portrait.png&quot;)"
                             class="hero-portrait-image"></div>
                    </div>
                    <span class="hero-portrait-label m-color-inverted">Zenyatta</span></a></li>
            </ul>
        </div>
    </nav>
</section>