<li class="column md-4 lg-3 end">
    <div class="lightbox-container m-media" style="padding-top: 30px; width: 100%; padding-left:5px; padding-right:5px">
        <div class="lightbox-body m-controls m-loader">
            <a class="media-card m-16-9 m-image u-video" href="{{replayProp.video}}">
                <div class="media-card-fill"
                    *ngIf="background"
                    [style.background-image]="background"></div>
                <div class="media-card-caption">
                    <h3 class="media-card-title u-align-center">{{replayProp.title}}</h3>
                </div>
            </a>
            <a routerLink="/replay/delete/{{replayProp._id}}" class="lightbox-close" style="top:-45px;"></a>
        </div>
    </div>
</li>