<!--Home welcome-->
<section class="u-nav-offset u-invert">
    <div class="row column u-align-center">
        <div class="u-relative">
            <h2 class="h3">Welcome to the overwatch database!</h2>
            <h2 class="h6">Here you will find everything you need to become better at the game, climb the ladder and
                become a true hero of Overwatch!</h2>
        </div>
    </div>
</section>
<!--Home videos-->
<section class="u-full-width-container videos-section-bg u-invert">
    <div class="u-max-width-container row column content-box u-align-center">
        <h2 class="h4">Videos</h2>
        <ul class="media-gallery row gutter-6 spacer-6">
            <li class="column md-6">
                <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                    <div class="media-card-fill"
                         style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                    <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic Trailer
                        2</h3>
                    </div>
                </a>
            </li>
            <li class="column md-6">
                <a href="https://www.youtube.com/watch?v=UEYp1RTvllM" class="media-card m-16-9 m-image u-video">
                    <div style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/new-gameplay-trailer.jpg')"
                         class="media-card-fill"></div>
                    <div class="media-card-caption"><h3 class="media-card-title u-align-center">Gameplay Trailer
                        2</h3>
                    </div>
                </a></li>
        </ul>

    </div>
</section>
