<section class="u-align-center u-invert u-nav-offset">
    <h4>Add replay:</h4>
    <span class="h6" style="color: red" *ngIf="errMessage">{{errMessage}}</span>
    <form (ngSubmit)="editReplay()" [formGroup]="replayEditForm">
        <label class="h5">Replay Title:
            <input id="title" name="title" type="text" formControlName="title">
        </label>
        <label for="password" class="h5">Video link:
            <input id="video" name="video" type="text" formControlName="video">
        </label>
        <label for="password" class="h5">Custom thumbnail link:
            <input id="thumbnail" name="thumbnail" type="text" formControlName="thumbnail">
        </label>
        <input [hidden]="!replayEditForm.valid" class="button m-lg" type="submit" value="Save">
        <span class="h6" style="color: red" *ngIf="!replayEditForm.valid">You must fill all the fields to add a replay!</span>
    </form>
</section>
<br>