<section class="u-full-width-container videos-section-bg u-invert">
    <div class="u-max-width-container row column content-box u-align-center">
        <h2 class="h4">My Replays</h2>
        <ul class="media-gallery row gutter-6 spacer-6">
            <li class="column md-4 lg-3">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
            <li class="column md-4 lg-3">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
            <li class="column md-4 lg-3">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
            <li class="column md-4 lg-3">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
            <li class="column md-4 lg-3">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://d1u1mce87gyfbn.cloudfront.net/media/thumbnail/cinematic-trailer.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
            <li class="column md-4 lg-3 lg-pull-6">
                <div class="lightbox-container m-media" style="padding-top: 40px; width: 100%">
                    <div class="lightbox-body m-controls m-loader">
                        <a class="media-card m-16-9 m-image u-video" href="https://www.youtube.com/watch?v=FqnKB22pOC0">
                            <div class="media-card-fill"
                                 style="background-image: url('https://static.zerochan.net/Widowmaker.full.2133235.jpg')"></div>
                            <div class="media-card-caption"><h3 class="media-card-title u-align-center">Cinematic
                                Trailer
                                2</h3>
                            </div>
                        </a>
                        <a class="lightbox-close" style="top:-45px;"></a>
                    </div>
                </div>
            </li>
        </ul>
        <a routerLink="/addreplay" class="button m-md">Add replay</a>
    </div>
</section>