
<section class="u-nav-offset u-invert">
    <div class="u-max-width-container pad-0 pad-30@lg-min pad-only-sides">
        <div class="row">
            <div class="column lg-3">
                <img src="https://d1u1mce87gyfbn.cloudfront.net/game/unlocks/0x02500000000009E3.png"
                     class="player-portrait">
                <h4>Tag: ivcho<br>
                    Games won: 140<br>
                    SR: 2500
                </h4>
            </div>
            <div class="column lg-2 u-align-center">
                <div style="background-image:url(https://d1u1mce87gyfbn.cloudfront.net/game/playerlevelrewards/0x0250000000000934_Border.png)"
                     class="player-level">
                    <div class="u-vertical-center">27</div>
                    <div style="background-image:url(https://d1u1mce87gyfbn.cloudfront.net/game/playerlevelrewards/0x0250000000000934_Rank.png)"
                         class="player-rank"></div>
                </div>
                <div class="competitive-rank">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/rank-icons/season-2/rank-4.png"
                         style="height: 190px">
                </div>
            </div>
            <div class="column lg-6 lg-pull-3 ">
                <img src="https://d1u1mce87gyfbn.cloudfront.net/hero/mercy/career-portrait.png">
            </div>
        </div>
    </div>
</section>

<section class="content-box u-invert">
    <div class="u-max-width-container">
        <div class="flex-container@md-min m-bottom-items">
            <div class="flex-item@md-min"><h1 class="h3 header">Competitive Stats</h1></div>
            <div class="flex-item@md-min m-grow u-align-right">
                <div class="dropdown" style="width:130px"><span
                        class="dropdown-text">ALL HEROES</span><select data-js="career-select"
                                                                       data-group-id="stats"
                                                                       class="dropdown-select-element"
                                                                       style="height: 30px;">
                </select></div>
            </div>
        </div>
        <hr>
        <div class="is-active"
             style="position: relative; height: 1392px;">
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 0px; top: 0px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M2.3,29.2l3,0.7l2-2.2l-0.3-1c0.1-0.1,0.2-0.3,0.3-0.4c1.3-1.4-0.7,0.6,0.7-0.7
		        c0.5-0.5,1-1,1.5-1.4C9.5,24,9.6,24,9.7,24c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.9,0.9,0.8,0.7,1.7,1.6l0,0c0.3,0.3,0.6,0.6,0.9,0.9
		        c0.5,0.5,1.1,1,1.6,1.5c0.1,0.1,0.2,0.2,0.3,0.1c0.1-0.1,0-0.2,0-0.3c-0.2-0.6-0.4-1.2-0.6-1.8c-0.2-0.5-0.3-1-0.5-1.4
		        c-0.1-0.4-0.3-0.8-0.4-1.1c-0.1-0.2-0.2-0.4-0.3-0.5c-0.3-0.3,0.4,0.4,0.1,0.1c-0.1-0.1-0.2-0.2-0.2-0.2c0-0.1,0-0.2,0.1-0.3
		        c0.8-0.8,1.6-1.6,2.4-2.5c1.7-1.7,3.4-3.4,5.1-5.1l0,0l-4,4l0,0c0.1-0.1,0.2-0.2,0.3-0.3c2.4-2.4,4.8-4.7,7.2-7.1l0,0
		        c1.1-1.1,2.3-2.3,3.4-3.4c0.4-0.4,0.6-0.8,0.7-1.3c0.2-1.2,0.7-4,0.6-4.1c-0.1-0.1-3.5,0.4-4.6,0.6c-0.2,0-0.4,0.1-0.5,0.3
		        c-3.8,3.8-7.5,7.5-11.3,11.3l0,0l4-4l0,0c-2.5,2.5-5,5-7.4,7.4c-0.1,0.1-0.2,0.1-0.2,0.1c-0.1,0-0.1,0-0.2-0.1
		        c-0.3-0.3,0.5,0.5,0.3,0.3c-0.3-0.3-0.7-0.5-1.1-0.7c-1.3-0.4-2.6-0.9-3.8-1.3c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.2-0.1-0.3,0
		        c-0.1,0.1,0,0.2,0.1,0.3c0.3,0.3,0.5,0.6,0.8,0.9c1.1,1.1,1.1,1.1,2.2,2.2c0.4,0.4,0.7,0.7,1.1,1.1c0.2,0.2,0.3,0.3,0.3,0.4
		        s-0.1,0.2-0.2,0.4c-1.1,1.2-0.1,0.2-1.3,1.4c-0.6,0.6-0.1,0.1-0.7,0.7c-0.2,0.2-0.3,0.3-0.5,0.4L3.4,24l-2,2.2L2.3,29.2z"></path>
                                    <path d="M29.7,29.2l-3,0.7l-2-2.2l0.3-1c-0.1-0.1-0.2-0.3-0.3-0.4c-1.3-1.4,0.7,0.6-0.7-0.7
		        c-0.5-0.5-1-1-1.5-1.4C22.5,24,22.4,24,22.3,24c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.3,0.1c-0.9,0.9-0.8,0.7-1.7,1.6l0,0
		        c-0.3,0.3-0.6,0.6-0.9,0.9c-0.5,0.5-1.1,1-1.6,1.5c-0.1,0.1-0.2,0.2-0.3,0.1c-0.1-0.1,0-0.2,0-0.3c0.2-0.6,0.4-1.2,0.6-1.8
		        c0.2-0.5,0.3-1,0.5-1.4c0.1-0.4,0.3-0.8,0.4-1.1c0.1-0.2,0.2-0.4,0.3-0.5c0.3-0.3-0.4,0.4-0.1,0.1c0.1-0.1,0.2-0.2,0.2-0.2
		        c0-0.1,0-0.2-0.1-0.3c-0.8-0.8-1.6-1.6-2.4-2.5c-1.7-1.7-3.4-3.4-5.1-5.1l0,0l4,4l0,0c-0.1-0.1-0.2-0.2-0.3-0.3
		        c-2.4-2.4-4.8-4.7-7.2-7.1l0,0c-1.1-1.1-2.3-2.3-3.4-3.4C4.4,7.9,4.2,7.5,4.1,7C4,5.8,3.5,2.9,3.6,2.8c0.1-0.1,3.5,0.4,4.6,0.6
		        c0.2,0,0.4,0.1,0.5,0.3c3.8,3.8,7.5,7.5,11.3,11.3l0,0l-4-4l0,0c2.5,2.5,5,5,7.4,7.4c0.1,0.1,0.2,0.1,0.2,0.1c0.1,0,0.1,0,0.2-0.1
		        c0.3-0.3-0.5,0.5-0.3,0.3c0.3-0.3,0.7-0.5,1.1-0.7c1.3-0.4,2.6-0.9,3.8-1.3c0.1,0,0.1,0,0.2-0.1c0.1,0,0.2-0.1,0.3,0
		        c0.1,0.1,0,0.2-0.1,0.3c-0.3,0.3-0.5,0.6-0.8,0.9c-1.1,1.1-1.1,1.1-2.2,2.2c-0.4,0.4-0.7,0.7-1.1,1.1c-0.2,0.2-0.3,0.3-0.3,0.4
		        c0,0.1,0.1,0.2,0.2,0.4c1.1,1.2,0.1,0.2,1.3,1.4c0.6,0.6,0.1,0.1,0.7,0.7c0.2,0.2,0.3,0.3,0.5,0.4l1.1-0.2l2,2.3L29.7,29.2z"></path>
                                </svg>
                                <h5 class="stat-title">Combat</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Barrier Damage Done</td>
                            <td>15,878</td>
                        </tr>
                        <tr>
                            <td>Deaths</td>
                            <td>125</td>
                        </tr>
                        <tr>
                            <td>Hero Damage Done</td>
                            <td>59,044</td>
                        </tr>
                        <tr>
                            <td>Time Spent on Fire</td>
                            <td>07:02</td>
                        </tr>
                        <tr>
                            <td>Solo Kills</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Objective Time</td>
                            <td>16:38</td>
                        </tr>
                        <tr>
                            <td>Objective Kills</td>
                            <td>84</td>
                        </tr>
                        <tr>
                            <td>Final Blows</td>
                            <td>51</td>
                        </tr>
                        <tr>
                            <td>Eliminations</td>
                            <td>185</td>
                        </tr>
                        <tr>
                            <td>All Damage Done</td>
                            <td>76,214</td>
                        </tr>
                        <tr>
                            <td>Multikill</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 396px; top: 0px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M26.94,5.33c-1.04,0-1.89,0.85-1.89,1.89v7.14c-0.02,0.32-0.28,0.57-0.61,0.57c-0.33,0-0.59-0.26-0.61-0.58V3.43
		        c0-1.04-0.85-1.89-1.89-1.89s-1.89,0.85-1.89,1.89v9.69h-0.02c0,0.02,0.01,0.03,0.01,0.05c0,0.34-0.27,0.61-0.61,0.61
		        c-0.32,0-0.58-0.26-0.6-0.58v-0.07c0,0,0-0.01,0-0.01h0V2.03c0-1.04-0.85-1.89-1.89-1.89s-1.89,0.85-1.89,1.89v11.11l-0.02,0
		        c0,0,0,0,0,0.01c0,0.34-0.27,0.61-0.61,0.61c-0.3,0-0.53-0.22-0.59-0.5v-8.6c0-1.04-0.85-1.89-1.89-1.89s-1.89,0.85-1.89,1.89v14.73
		        L6.8,15.01c0,0-1.34-1.09-2.64-0.22c0,0-1.25,0.61-1.05,2.58l0.73,1.34l5.88,8.89c0,0,1.97,2.61,4.45,3.47c0,0,6.89,2.75,12.11-1.23
		        c0,0,2.55-2.38,2.55-5.16V7.22C28.83,6.18,27.98,5.33,26.94,5.33z"></path>
                                </svg>
                                <h5 class="stat-title">Assists</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Healing Done</td>
                            <td>169,662</td>
                        </tr>
                        <tr>
                            <td>Offensive Assists</td>
                            <td>108</td>
                        </tr>
                        <tr>
                            <td>Defensive Assists</td>
                            <td>344</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 793px; top: 0px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M32,11.11l-10.87-1.5L15.95,0L10.8,9.63L0,11.29l7.84,7.92L6.19,30.19l9.94-5.02l9.84,5l-1.81-10.93L32,11.11z M16.13,22.76
			        c-3.53,0-6.39-2.86-6.39-6.39c0-3.53,2.86-6.39,6.39-6.39c3.53,0,6.39,2.86,6.39,6.39C22.52,19.89,19.66,22.76,16.13,22.76z"></path>
                                    <circle cx="16.1" cy="16.39" r="4.45"></circle>
                                </svg>
                                <h5 class="stat-title">Best</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eliminations - Most in Game</td>
                            <td>52</td>
                        </tr>
                        <tr>
                            <td>Final Blows - Most in Game</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>All Damage Done - Most in Game</td>
                            <td>18,204</td>
                        </tr>
                        <tr>
                            <td>Healing Done - Most in Game</td>
                            <td>17,811</td>
                        </tr>
                        <tr>
                            <td>Defensive Assists - Most in Game</td>
                            <td>43</td>
                        </tr>
                        <tr>
                            <td>Offensive Assists - Most in Game</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>Objective Kills - Most in Game</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>Objective Time - Most in Game</td>
                            <td>02:59</td>
                        </tr>
                        <tr>
                            <td>Multikill - Best</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Solo Kills - Most in Game</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Time Spent on Fire - Most in Game</td>
                            <td>02:30</td>
                        </tr>
                        <tr>
                            <td>Turret Destroyed - Most in Game</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Kill Streak - Best</td>
                            <td>52</td>
                        </tr>
                        <tr>
                            <td>Hero Damage Done - Most in Game</td>
                            <td>15,693</td>
                        </tr>
                        <tr>
                            <td>Barrier Damage Done - Most in Game</td>
                            <td>4,192</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 396px; top: 242px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M21.1,3.6c-1.6-0.7-3.3-1.1-5.2-1.1c-1.8,0-3.4,0.4-5,1L15.8,15L21.1,3.6z"></path>
                                    <path d="M9.9,5.9c-4.3,1.9-7.4,6.2-7.4,11.3c0,6.8,5.5,12.3,12.3,12.3c4.8,0,8.9-2.7,10.9-6.6l-11.1-5.5L9.9,5.9z"></path>
                                    <path d="M22.4,5l-5.3,11.4l11.1,5.5c0.9-1.7,1.4-3.6,1.4-5.7C29.6,11.3,26.6,7,22.4,5z"></path>
                                </svg>
                                <h5 class="stat-title">Average</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Barrier Damage Done - Avg per 10 Min</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Deaths - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Hero Damage Done - Avg per 10 Min</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Time Spent on Fire - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Solo Kills - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Objective Time - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Objective Kills - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Healing Done - Avg per 10 Min</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Final Blows - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Eliminations - Avg per 10 Min</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>All Damage Done - Avg per 10 Min</td>
                            <td>7</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 0px; top: 554px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M19.7,19.8c9-1.5,10.7-8.8,10.7-8.8c1.6-6.1-0.1-6.2-0.1-6.2h-5.9c0.1-1.7,0,0.1,0,0.1
		        c0-2.5-2.6-2.6-2.6-2.6h-5.6h-0.1h-5.6c0,0-2.6,0.1-2.6,2.6c0,0-0.1-1.8,0-0.1H1.9c0,0-1.8,0.3-0.6,6c0,0,2.9,8.3,11.3,9
		        c0.6,0.6,1.2,1.2,2,1.7v3c0,0-5.5,1.2-5.5,4.8H16h7.1c0-3.6-5.5-4.8-5.5-4.8v-3C18.4,21,19.1,20.4,19.7,19.8z M28.1,7.5
		        c0.3,4.3-3.7,8.6-6.1,9.3c1.3-2.3,1.9-7.2,2.2-9.3C24.2,7.5,28.1,7.5,28.1,7.5z M4,7.5h4c0.3,2.1,0.9,7,2.2,9.3
		        C8,16.1,3.8,11.9,4,7.5z"></path>
                                </svg>
                                <h5 class="stat-title">Match Awards</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cards</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Medals</td>
                            <td>29</td>
                        </tr>
                        <tr>
                            <td>Medals - Gold</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>Medals - Silver</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Medals - Bronze</td>
                            <td>3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 0px; top: 874px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M9.7,7.9c1.7-1.3,3.8-2.1,6.2-2.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c2.3,0,4.5,0.8,6.2,2.1l2.6-3.2c-2.4-1.9-5.4-3-8.7-3
			        c-0.1,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-3.3,0-6.3,1.1-8.7,3L9.7,7.9z"></path>
                                    <path d="M30.3,16c0-4.2-1.8-8-4.7-10.6l-2.6,3.2c2,1.9,3.2,4.5,3.2,7.5c0,1.9-0.5,3.6-1.4,5.1l-5.7-5.5l-2.6-6.3v9.5l5.6,5.4
			        c-0.3,0.2-0.6,0.4-0.9,0.6l0,0c-1.5,0.9-3.3,1.5-5.2,1.5c0,0-0.1,0-0.1,0l0,0l0,0c0,0-0.1,0-0.1,0c-1.9,0-3.7-0.5-5.2-1.5l0,0
			        c-0.3-0.2-0.6-0.4-0.9-0.6l5.6-5.4V9.3l-2.6,6.3l-5.7,5.5c-0.9-1.5-1.4-3.3-1.4-5.1c0-2.9,1.2-5.6,3.2-7.4L6.3,5.4
			        C3.5,8,1.7,11.8,1.7,16c0,4,1.6,7.5,4.2,10.1h0c1.3,1.3,2.8,2.4,4.6,3.1c0,0,0,0,0,0c0.1,0.1,0.3,0.1,0.4,0.2c0,0,0.1,0,0.1,0.1
			        c0.1,0,0.2,0.1,0.3,0.1c0.5,0.2,1,0.3,1.5,0.4c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3,0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1
			        c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0c0.1,0,0.1,0,0.2,0c0.2,0,0.4,0,0.5,0
			        c0,0,0,0,0,0l0,0l0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0l0,0l0,0c0,0,0,0,0,0c0.2,0,0.3,0,0.5,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0
			        c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3-0.1c0.1,0,0.1,0,0.2,0
			        c0.1,0,0.2,0,0.3-0.1c0,0,0.1,0,0.1,0c0.5-0.1,1-0.3,1.5-0.4c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1-0.1c0.1-0.1,0.3-0.1,0.4-0.2
			        c0,0,0,0,0,0c1.7-0.7,3.3-1.8,4.6-3.1l0,0C28.7,23.5,30.3,20,30.3,16z"></path>
                                </svg>
                                <h5 class="stat-title">Game</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Time Played</td>
                            <td>3 hours</td>
                        </tr>
                        <tr>
                            <td>Games Played</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Games Won</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Games Lost</td>
                            <td>8</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column xs-12 md-6 xl-4 table-div" style="position: absolute; left: 793px; top: 862px;">
                <div class="card-stat-block">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <svg viewBox="0 0 32 32" class="icon">
                                    <path d="M29.5,16c0-0.4,0-0.8-0.1-1.3l0,0c0-0.2-0.1-0.3-0.1-0.5l0,0l0,0c0-0.2,0-0.3-0.1-0.5l0,0l0,0c0-0.3-0.1-0.4-0.2-0.7l0,0
		        l0,0l0,0l0,0c0-0.2-0.1-0.3-0.1-0.5l0,0l0,0c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.1-0.3-0.2-0.5c-0.1-0.2-0.2-0.3-0.3-0.5l0,0l0,0
		        c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.1-0.2-0.3-0.2-0.3c0-0.1-0.1-0.2-0.1-0.2c-0.1-0.2-0.2-0.3-0.3-0.4l0,0
		        c-0.1-0.2-0.2-0.3-0.3-0.4c0-0.1-0.1-0.1-0.1-0.2l0,0l0,0c-0.1-0.2-0.3-0.3-0.3-0.4c-0.1-0.2-0.3-0.3-0.3-0.4l0,0
		        c-0.3-0.3-0.5-0.6-0.8-0.9c-0.3-0.3-0.6-0.6-0.9-0.8l0,0c-0.2-0.1-0.3-0.3-0.4-0.3l-0.1-0.1c-0.1-0.1-0.3-0.2-0.3-0.3l0,0l0,0
		        c0,0-0.1-0.1-0.2-0.1c-0.2-0.1-0.3-0.2-0.4-0.3l0,0c-0.2-0.1-0.3-0.2-0.4-0.3c-0.1,0-0.1-0.1-0.2-0.1c-0.1-0.1-0.2-0.1-0.3-0.2
		        c-0.1,0-0.1-0.1-0.2-0.1c-0.1-0.1-0.3-0.1-0.3-0.2C21.7,4,21.7,4,21.6,4l0,0l0,0l0,0l0,0c-0.2-0.1-0.3-0.1-0.4-0.2
		        c-0.1,0-0.1,0-0.2-0.1c-0.1-0.3-0.3-0.3-0.4-0.3c-0.2-0.1-0.3-0.1-0.5-0.2C20,3.1,19.7,3,19.5,3l0,0c-0.2-0.1-0.3-0.1-0.5-0.1l0,0
		        l0,0c-0.3-0.1-0.4-0.1-0.7-0.2c-0.1,0-0.3,0-0.3-0.1c-0.1,0-0.1,0-0.2,0h-0.1c-0.2,0-0.3-0.1-0.5-0.1l0,0c-0.4-0.1-0.8-0.1-1.3-0.1
		        c-0.4,0-0.8,0-1.3,0.1l0,0c-0.2,0-0.4,0.1-0.6,0.1c-0.2,0-0.3,0-0.5,0.1l0,0l0,0c-0.3,0-0.4,0.1-0.7,0.2l0,0l0,0
		        c-0.2,0-0.3,0.1-0.5,0.1l0,0l0,0c-0.2,0.1-0.4,0.1-0.6,0.2c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2,0.1l0,0l0,0
		        c-0.2,0-0.3,0.1-0.5,0.2l0,0l0,0c-0.2,0.1-0.4,0.2-0.6,0.3S10,4,9.8,4C9.7,4.1,9.5,4.2,9.3,4.3c0,0-0.1,0-0.1,0.1l0,0L9.2,4.5
		        C9,4.5,8.9,4.5,8.8,4.6l0,0l0,0C8.7,4.7,8.5,4.8,8.4,4.9C8.3,4.9,8.3,5,8.2,5C8.1,5,8,5.2,7.8,5.3L7.7,5.4C7.6,5.5,7.5,5.6,7.4,5.6
		        l0,0C7.1,5.9,6.7,6.1,6.5,6.5C6.1,6.7,5.9,7.1,5.6,7.4l0,0C5.5,7.5,5.4,7.7,5.3,7.8C5.2,7.9,5.2,7.9,5.1,8c0,0.1-0.1,0.2-0.2,0.3
		        c0,0.1-0.1,0.1-0.1,0.2C4.8,8.5,4.7,8.7,4.6,8.8c0,0,0,0.1-0.1,0.1l0,0l0,0l0,0C4.5,9,4.4,9.1,4.3,9.3c0,0.1-0.1,0.1-0.1,0.2
		        c0,0.1-0.1,0.3-0.2,0.4C4,9.9,4,10,3.9,10.1c0,0.1-0.1,0.1-0.1,0.2l0,0l0,0c-0.1,0.2-0.1,0.3-0.2,0.4v0.1v0.1
		        c-0.2,0.2-0.3,0.3-0.3,0.5c-0.1,0.2-0.1,0.3-0.2,0.5C3.1,12,3,12.3,3,12.5l0,0l0,0c0,0.1-0.1,0.2-0.1,0.3s0,0.2-0.1,0.3l0,0l0,0
		        c-0.1,0.3-0.1,0.4-0.2,0.7c0,0.1,0,0.3-0.1,0.3c0,0.1,0,0.1,0,0.2v0.1c0,0.2-0.1,0.3-0.1,0.5l0,0c-0.1,0.8-0.1,1.7,0,2.4l0,0
		        c0,0.2,0.1,0.3,0.1,0.5l0,0l0,0c0,0.2,0,0.3,0.1,0.5l0,0l0,0c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0.1,0.3,0.1,0.3l0,0l0,0
		        c0,0.2,0.1,0.3,0.1,0.5l0,0l0,0C3,19.5,3,19.8,3.1,19.9s0.1,0.3,0.2,0.4v0.1l0,0c0.1,0.2,0.2,0.3,0.3,0.5l0,0c0,0.1,0.1,0.2,0.1,0.3
		        c0.1,0.1,0.1,0.2,0.2,0.3l0,0l0,0l0,0l0,0l0,0C3.9,21.7,4,21.9,4,22c0.1,0.4,0.2,0.6,0.3,0.8l0,0l0,0l0.1,0.1
		        c0.1,0.1,0.2,0.3,0.2,0.3c0.1,0.2,0.2,0.3,0.3,0.4c0,0.1,0.1,0.1,0.1,0.2c0.2,0.1,0.2,0.2,0.3,0.3c0.1,0.1,0.1,0.1,0.2,0.2
		        c0.1,0.2,0.3,0.3,0.3,0.4l0,0c0.5,0.7,1.1,1.3,1.8,1.8l0,0c0.2,0.1,0.3,0.3,0.4,0.3c0.1,0.1,0.1,0.1,0.2,0.2S8.2,27,8.2,27l0,0l0,0
		        c0,0,0.1,0.1,0.2,0.1c0.2,0.1,0.3,0.2,0.4,0.3l0,0l0,0l0,0c0.2,0.1,0.3,0.2,0.4,0.3c0.1,0,0.2,0.1,0.3,0.1c0.1,0.1,0.3,0.1,0.3,0.2
		        c0.2,0.1,0.3,0.2,0.5,0.3c0.2,0.1,0.3,0.2,0.5,0.3l0,0l0,0c0.2,0.1,0.3,0.2,0.5,0.3l0,0l0,0l0,0l0,0c0.1,0,0.1,0,0.2,0.1
		        c0,0,0,0,0.1,0s0.2,0.1,0.3,0.1c0.2,0.1,0.4,0.2,0.6,0.2l0,0l0,0C12.6,29,12.8,29,13,29l0,0l0,0c0.1,0,0.3,0.1,0.3,0.1
		        c0.1,0,0.1,0,0.2,0s0.1,0,0.2,0c0.2,0,0.3,0.1,0.5,0.1l0,0l0,0c0.2,0,0.3,0.1,0.5,0.1l0,0c0.8,0.1,1.7,0.1,2.4,0l0,0
		        c0.2,0,0.3-0.1,0.5-0.1c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0.2,0,0.3,0,0.5-0.1h0.1c0.2,0,0.3-0.1,0.5-0.1l0,0l0,0c0.1,0,0.2,0,0.3-0.1
		        c0.1,0,0.2,0,0.3-0.1l0,0l0,0c0.2-0.1,0.4-0.1,0.6-0.2c0.2-0.1,0.3-0.1,0.5-0.2c0.2-0.1,0.3-0.2,0.5-0.3c0.1,0,0.1,0,0.2-0.1
		        c0.2-0.1,0.3-0.1,0.4-0.2l0,0l0,0l0,0l0,0c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.3-0.1,0.3-0.2c0.1,0,0.1-0.1,0.2-0.1
		        c0.1-0.1,0.2-0.1,0.3-0.2c0.1,0,0.1-0.1,0.2-0.1c0.2-0.1,0.3-0.2,0.4-0.3l0,0c0.2-0.1,0.3-0.2,0.4-0.3c0.1,0,0.1-0.1,0.2-0.1l0,0
		        l0,0c0.1-0.1,0.3-0.2,0.3-0.3l0.1-0.1c0.2-0.1,0.3-0.3,0.4-0.3l0,0c0.7-0.5,1.2-1.1,1.8-1.8l0,0c0.1-0.2,0.3-0.3,0.3-0.4l0,0
		        c0.1-0.2,0.3-0.3,0.3-0.4c0,0,0.1-0.1,0.1-0.2c0.1-0.2,0.2-0.3,0.3-0.4l0,0c0.1-0.2,0.2-0.3,0.3-0.4c0,0,0-0.1,0.1-0.1
		        c0.1-0.2,0.2-0.3,0.3-0.5c0.1-0.2,0.2-0.3,0.3-0.5c0.1-0.2,0.2-0.3,0.3-0.5l0,0l0,0c0.1-0.2,0.2-0.3,0.3-0.5l0,0l0,0l0,0
		        c0-0.1,0.1-0.2,0.1-0.2c0-0.1,0.1-0.2,0.1-0.3c0.1-0.2,0.2-0.4,0.2-0.6l0,0l0,0C29,19.2,29,19,29,18.9l0,0l0,0l0,0l0,0
		        c0.1-0.3,0.1-0.4,0.2-0.7l0,0l0,0c0-0.2,0.1-0.3,0.1-0.5l0,0l0,0c0-0.2,0.1-0.3,0.1-0.5l0,0C29.5,16.8,29.5,16.4,29.5,16z M9.3,18.3
		        C8,18.3,7,17.3,7,16s1-2.3,2.3-2.3s2.3,1,2.3,2.3S10.5,18.3,9.3,18.3z M16,18.3c-1.3,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3
		        c1.3,0,2.3,1,2.3,2.3S17.3,18.3,16,18.3z M22.7,18.3c-1.3,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3S24,18.3,22.7,18.3z"></path>
                                </svg>
                                <h5 class="stat-title">Miscellaneous</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Turret Destroyed</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>